* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(200, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas:
        'verde vermelho'
        'amarelo azul';
    grid-gap: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    margin: 0 6vw;
}

.blue {
    grid-area: azul;
    background-color: blue;
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: red;
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: yellow;
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: green;
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}

.control-board {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.control-board button {
    width: 80%;
    height: 12vh;
}

.btn-play {
    background-color: green;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.btn-stop {
    background-color: red;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    font-weight: bold;
    color: white;
}

.control-board .statistics {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.control-board .statistics div {
    width: 40%;
}

.control-board .statistics p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.control-board .statistics input {
    height: 8vh;
    width: 100%;
    border: 2px solid grey;
    border-radius: 4px;
}